.form {
    margin-top: 15px;
    min-width: 350px;
}

* {
    box-sizing: border-box;
}

.header {
    font-size: xx-large;
}

.phone-container {
    margin-top: 15px;
    display: inline-grid;
    grid-column-gap: 5px;
    grid-template-columns: 200px 200px auto;
    grid-auto-flow: row;
    align-items: center;
}

.phone-container>* {
    word-wrap: break-word;
    /* Forcer le wrap même sans espaces */
}

.phone-header {
    font-weight: bold;
}

.add {
    height: 40px;
}

.delete {
    display: grid;
    justify-items: center;
}

.footer {
    display: grid;
    justify-items: stretch;
    align-items: center;
    grid-template-columns: auto auto;
    margin-top: 30px;
}